$VIOLET_COLOR: #8f4af9;
$DARK_VIOLET_COLOR: #6039aa;
$GAME_GREEN_COLOR: #94c94d;
$GAME_BLUE_COLOR: #4db8ec;
$GAME_VIOLET_COLOR: #8e3dcb;
$GAME_PINK_COLOR: #fc73b0;
$GAME_ORANGE_COLOR: #f28e37;
$NUMBER_HOVER_SHADOW: 0 0 15px #4d4d4d;

.green-style {
    background-color: $GAME_GREEN_COLOR;
}

.blue-style {
    background-color: $GAME_BLUE_COLOR;
}

.violet-style {
    background-color: $GAME_VIOLET_COLOR;
}

.pink-style {
    background-color: $GAME_PINK_COLOR;
}

.orange-style {
    background-color: $GAME_ORANGE_COLOR;
}

.smooth-animation {
    transition: .3s;
}

%random-number {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #fff;

    font-size: 32px;

    cursor: pointer;

    transition: .3s;

    font-family: Montserrat-bold, "Open Sans", sans-serif;

    position: relative;

    &:hover {
        box-shadow: $NUMBER_HOVER_SHADOW;
    }

    .game-arm-wrapper {
        z-index: 99;

        img {
            height: 80px;
        }

        position: absolute;

        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
    }
}

